---
import TimelineIcon from "@/components/icons/TimelineIcon.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

interface Props {
	date: string;
	title: string;
	company: string;
	description: string;
	latest?: boolean;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { date, title, company, description, latest } = Astro.props;
---

<span
	class="absolute flex items-center justify-center size-6 rounded-full -start-3 ring-8 ring-gray-900 bg-blue-900 text-blue-300"
>
	<TimelineIcon />
</span>
<h3 class="flex items-center gap-x-4 mb-1 text-lg font-semibold text-white">
	{title}
	{
		latest && (
			<span class="text-sm font-medium px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
				{t('exp.latest')}
			</span>
		)
	}
</h3>
<time class="block mb-2 text-sm font-normal leading-none text-gray-500"
	>{date}</time
>
<p class="mb-4 text-base font-semibold text-blue-300">
	{company}
</p>
<p class="text-base font-normal text-gray-300">
	{description}
</p>
