---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { ui } from "@/i18n/ui";
import LanguagePicker from "@/components/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

const navItems = [
	{ href: "#experience", key: "navbar.experience" },
	{ href: "#projects", key: "navbar.projects" },
	{ href: "#about-me", key: "navbar.about-me" },
];

type NavKey = keyof typeof ui['en'];
---

<header
	class="fixed top-0 flex justify-center items-center gap-x-4 w-full z-10 mt-2"
>
	<nav class="flex gap-x-4 md:gap-x-6 px-5 text-sm rounded-full">
		{
			navItems.map(({ href, key }) => (
				<a
					class="py-2 transition text-white hover:text-yellow-100"
					href={href}
				>
					{translate(key as NavKey)}
				</a>
			))
		}
	</nav>
	<LanguagePicker />
</header>

<style>
	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes nav-shadown {
		to {
			@apply shadow-lg ring-1 backdrop-blur bg-white/50 ring-white/10;
		}
	}
</style>
