---
import AboutMe from "@/components/AboutMe.astro";
import AboutMeIcon from "@/components/icons/AboutMeIcon.astro";
import CodeIcon from "@/components/icons/CodeIcon.astro";
import Container from "@/components/Container.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Projects.astro";
import WorkIcon from "@/components/icons/WorkIcon.astro";
import TitleSection from "@/components/TitleSection.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

import Code from "@/components/icons/Code.astro"

const TAGS: TagsType = {
  JAVA: { name: "Java", class: "bg-gray-300 text-gray-900", icon: Java },
  SPRING:{ name: "Spring", class: "bg-[#6ca65e] text-white", icon: Spring },
  POSTGRE:{ name: "PostgreSQL", class: "bg-[#003159] text-white", icon: PostgreIcon },
  MYSQL: { name: "MySQL", class: "bg-[#336791] text-white", icon: MySQLIcon },
  BOOTSTRAP:{ name: "Bootstrap", class: "bg-[#563D7C] text-white", icon: BootstrapIcon },

  // añade lo que uses en tus proyectos:
  PYTHON:   { name: "Python",   class: "bg-[#3776AB] text-white", icon: Code },
  PANDAS:   { name: "Pandas",   class: "bg-black text-white",     icon: Code },
  PLOTLY:   { name: "Plotly",   class: "bg-[#3f4ab8] text-white", icon: Code },
  DASH:     { name: "Dash",     class: "bg-gray-900 text-white",  icon: Code },
  FLASK:    { name: "Flask",    class: "bg-gray-800 text-white",  icon: Code },
  FASTAPI:  { name: "FastAPI",  class: "bg-[#05998b] text-white", icon: Code },
  DICOM:    { name: "DICOM",    class: "bg-gray-700 text-white",  icon: Code },
  ORTHANC:  { name: "Orthanc",  class: "bg-gray-800 text-white",  icon: Code },
  MONGODB:  { name: "MongoDB",  class: "bg-[#116149] text-white", icon: Code },
  DOCKER:   { name: "Docker",   class: "bg-[#0db7ed] text-white", icon: Code },
}

export const userData = {
	name: "Amador",
	mail: "amasabcar@outlook.com",
	github: "https://github.com/amadr-95",
	linkedin: "https://www.linkedin.com/in/amadorsabido",
};

type tLang = (str: any) => any;

const lang = getLangFromUrl(Astro.url);
const t:tLang = useTranslations(lang);
---

<Layout
	title={t('layout.title')}
	description={t('layout.description')}
>
	<main class="px-6 md:px-12">
		<Container>
			<Hero />
		</Container>
		<Container id="experience">
			<TitleSection>
				<WorkIcon class="size-8" />
				{t('index.experience')}
			</TitleSection>
			<Experience />
		</Container>
		<Container id="projects">
			<TitleSection>
				<CodeIcon class="size-8" />
				{t('index.projects')}
			</TitleSection>
			<Projects />
		</Container>
		<Container id="about-me">
			<TitleSection>
				<AboutMeIcon class="size-8" />
				{t('index.about')}
			</TitleSection>
			<AboutMe />
		</Container>
        <Container>
            <Footer />
        </Container>
	</main>
</Layout>
