---
import AboutMe from "@/components/AboutMe.astro";
import AboutMeIcon from "@/components/icons/AboutMeIcon.astro";
import CodeIcon from "@/components/icons/CodeIcon.astro";
import Container from "@/components/Container.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Projects.astro";
import WorkIcon from "@/components/icons/WorkIcon.astro";
import TitleSection from "@/components/TitleSection.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";


export const userData = {
	name: "Valentina",
	mail: "mvalemorales11@gmail.com",
	github: "https://github.com/valemoralesdev",
	linkedin: "https://www.linkedin.com/in/mvalentina-morales",
};

type tLang = (str: any) => any;

const lang = getLangFromUrl(Astro.url);
const t:tLang = useTranslations(lang);
---

<Layout
	title={t('layout.title')}
	description={t('layout.description')}
>
	<main class="px-6 md:px-12">
		<Container>
			<Hero />
		</Container>
		<Container id="experience">
			<TitleSection>
				<WorkIcon class="size-8" />
				{t('index.experience')}
			</TitleSection>
			<Experience />
		</Container>
		<Container id="projects">
			<TitleSection>
				<CodeIcon class="size-8" />
				{t('index.projects')}
			</TitleSection>
			<Projects />
		</Container>
		<Container id="about-me">
			<TitleSection>
				<AboutMeIcon class="size-8" />
				{t('index.about')}
			</TitleSection>
			<AboutMe />
		</Container>
        <Container>
            <Footer />
        </Container>
	</main>
</Layout>
